@import '_blocks/main'
@import '_blocks/waiting'
@import '_blocks/optimization'
@import '_blocks/finish'
@import '_blocks/gifts'
@import '_blocks/first'
@import '_blocks/footer'

.container
	max-width: 1160px
	margin: 0 auto

body
	font-family: 'Roboto', sans-serif

.button
	padding: 24px 24px
	text-transform: uppercase
	font-weight: normal
	font-size: 21px
	line-height: 24px
	color: #fff
	text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22)
	background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%)
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4)
